@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0e1720;
    background-color: #ffffff;
  }
  a:hover {
    color: #0f113b;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes oceanFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-flow {
  background: linear-gradient(135deg, #fff2f2, #a9b5df, #7886c7, #2d336b);
  background-size: 400% 400%;
  animation: oceanFlow 5s ease infinite;
}
/* Base styles */
:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 90%);
}

.sliced-wrapper {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2rem; /* Adjust size as needed */
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  line-height: 1;
}

/* Align top and bottom in the same space */
.sliced-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* First visible half */
.sliced-wrapper .top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  position: relative; /* keep it above .bottom */
  color: var(--text-color);
  z-index: 2;
}

/* Second sliced half with gradient effect */
.sliced-wrapper .bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  transform: translateX(-0.02em);
  pointer-events: none;
}
